spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/membership
    username: root
    password: 1234
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: null
    properties:
      hibernate:
        format_sql: true
logging:
  level:
    root: info
    web: info
    sql: error
    org.hibernate: error
    org.springframework: error
    studio.aroundhub: info
